body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1F2937;
}

.top-header{
    height: auto;
    padding: 8px;
    font-size: 24px #F9FAF8;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 240px;
}

.bottom-header{
    height: auto;
    padding-bottom: 20px;

    font-size: 24px #F9FAF8;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

}

.main-text{
    display: flex;
    font-size: 48px;
    color: #F9FAF9;
    font-weight: bolder;
}

.secondary-text{
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    font-size: 18px;
    color: #E5E7EB;
}

.btn-lg{
    color: #1F2937 !important;
    background-color: #E5E7EB !important;
}

.my-picture{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 200px;
    border-style: ridge;
    border-color: #F9FAF8;
    border-width: 5px;
    border-radius: 50%;
}

.header-button{
    background-color: #3882F6;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo-image{
    display: flex;
    width: 100px;
    padding: 10px;
}

.links{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 8px;
    gap: 25px; 
}



.fa-brands, .fa-sharp{
    font-size: 3em;
    color: #F9FAF8;
    display: flex;
}

/* .fa-instagram{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
} 

.fa-square-facebook{
    color: #3b5998;
    background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93% );
    background-size: 55%;
    background-position: 70% 0;
    background-repeat: no-repeat;
}

.fa-twitter{
    color: #00aced;
} */

a {
    text-decoration: none;
    color: inherit;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    font-size: 24px #F9FAF8;
    color: #F9FAF8;
}